/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  min-height: 100vh;

}



.login-con {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  /* background-color: #002B5B; */
  /* outline: 2px solid #3C486B; */
  /* width: 500px; */
}

.nav-con {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F0F0F0;
  /* color: white; */
  padding: 10px;
  /* display: flex;
  flex-direction: row; */
}

.home-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
}

.manage-con {
  display: flex;
}

.regis-product {
  padding: 50px;
  width: 25%;
  /* background-color: bisque; */
}

.regis-product button {
  margin-bottom: 50px;
  
}

.my-product-list {
  /* background-color: aquamarine; */
  width: 75%;  
}

.insert-product {
  padding: 30px;
  outline: 2px solid #3C486B;
  border-radius: 20px;
}

.product-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}